{
  "extends": "stylelint-config-htmlacademy",

  "rules": {
    "declaration-no-important": true,
    "indentation": [2, {"ignore": ["inside-parens"]}],
    "value-no-vendor-prefix": [ true, {
      "ignoreValues": [
        "grid"
      ]
    }],
    "property-no-vendor-prefix": [ true, {
      "ignoreProperties": [
        "/grid/"
      ]
    }]
  }
}
