.album {
  padding: 0 6%;

  color: #000000;

  background-color: $body-bg-color;
}

.album__title {
  @include ordinary-heading();
}

.album__info {
  @include paragraph-size();

  &--year {
    font-weight: 700;
    color: $ordinary-heading-color;
  }
}

.album__link {
  color: inherit;

  &[href] {
    cursor: pointer;
  }

  &[href]:hover,
  &:focus {
    text-shadow: 0 0 1px $ordinary-heading-color;
  }

  &[href]:hover {
    @include hover-transition();
  }

  &[href]:active {
    text-decoration: none;
  }
}

.album__icon {
  display: block;
  width: 1.778em;
  height: 1.778em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;

  fill: $ordinary-heading-color;
}

@media (min-width: 426px) and (max-width: $mobile-width-only) {
  .album {
    max-width: 426px;
    margin: 0 auto;
    padding: 0 1.5em;
  }
}

@media (min-width: $tablet-width) {
  .album {
    flex-shrink: 0;
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0 1.5em;
  }

  .album__title {
    flex-shrink: 0;
    flex-basis: auto;

    width: 100%;
    margin-top: 0;
  }

  .album__info {
    flex-shrink: 0;
    flex-basis: auto;

    width: 100%;
    margin-bottom: 0;
  }

  .album__info:last-of-type {
    margin-bottom: 1.5em;
  }

  .album__info:last-of-type:nth-last-child(2) {
    margin-bottom: 4.778em;
  }

  .album__icon {
    flex-shrink: 0;
    flex-basis: auto;
    align-self: flex-start;

    margin-bottom: 0;
    margin-top: auto;
  }

  .album__audio {
    flex-shrink: 0;
    flex-basis: auto;

    margin-top: 1.5em;
    margin-bottom: 0;

    .album__info + &,
    .album__title + & {
      margin-top: auto;
    }
  }
}
