.album-list {
  margin: 0;
  padding: 0;

  @include fix-list();
}

.album-list__item {
  margin: 0 0 1.5em;
}

@media (min-width: $tablet-width) {
  .album-list {
    display: flex;
    flex-wrap: wrap;
  }

  .album-list__item {
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;

    width: 50%;
  }

  @supports (display: grid) {
    .album-list {
      display: grid;
      grid-row-gap: 1.5em;
      grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));

      padding-bottom: 1.5em;
    }

    .album-list__item {
      width: auto;
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .album-list__item {
    width: 33.333%;
  }

  @supports (display: grid) {
    .album-list__item {
      width: auto;
    }
  }
}
