.audio {
  position: relative;

  width: 100%;
  height: 0;
  padding-bottom: 152%;
}

.audio__link {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 65.79%;

  background-color: #cccccc;

  &[href]:hover,
  &:focus {
    outline: thin dotted;
    outline: 0.278em auto -webkit-focus-ring-color; /* stylelint-disable-line */
  }
}

.audio__media {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  border: none;
}

.audio--archive {
  & .audio__link {
    overflow: hidden;
  }

  & img.audio__media {
    max-width: 105.82%;
    width: 105.82%;
  }
}

.audio__button {
  position: absolute;
  left: 0.556em;
  bottom: 34.211%;

  display: none;
  width: 2.778em;
  height: 2.778em;
  margin-bottom: 0.556em;
  padding: 0;

  border: none;
  border-radius: 0.111em;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: pointer;

  .audio__link:hover + &,
  &:hover,
  &:focus {
    background-color: rgba(0, 0, 0, 0.85);
  }

  &::after {
    content: "";

    position: absolute;
    top: 0;
    left: 0.056em;
    bottom: 0;
    right: 0;

    width: 0;
    height: 0;
    margin: auto;

    border-color: transparent transparent transparent #ffffff;
    border-style: dashed dashed dashed solid;
    border-width: 0.556em 0 0.556em 1em;
  }
}

.audio__button--archive {
  left: auto;
  right: 2.86%;

  width: 4.167em;
  background-color: #000000;

  .audio__link:hover + &,
  &:hover,
  &:focus {
    background-color: #000000;
  }

  &::after {
    content: none;
  }

  & .audio__button-icon {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    width: 1.333em;
    height: 1.333em;
    margin: auto;

    fill: rgba(255, 255, 255, 0.8);
  }

  .audio__link:hover + & .audio__button-icon,
  &:hover .audio__button-icon,
  &:focus .audio__button-icon {
    fill: rgb(255, 255, 255);
  }
}

.audio__link[href],
.audio--enabled .audio__link {
  cursor: pointer;
}

.audio--enabled .audio__button {
  display: block;
}
