@use "variables" as *;
@use "mixins" as *;

.book-list {
  margin: 0;

  @include reset-list();
}

.book-list__item {
  margin: 0 0 1.5em;
}

@media (min-width: $tablet-width) {
  .book-list {
    display: flex;
    flex-wrap: wrap;

    &::after {
      content: "";

      display: table;

      clear: both;
    }
  }

  .book-list__item {
    flex-shrink: 0;
    flex-basis: auto;
    display: flex;
    flex-direction: column;

    width: 50%;
    float: left;

    &:nth-child(2n+3) {
      clear: both;
    }
  }

  @supports (display: grid) {
    .book-list {
      display: grid;
      grid-row-gap: 1.5em;
      grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));

      padding-bottom: 1.5em;

      &::after {
        display: none;
      }
    }

    .book-list__item {
      width: auto;
      margin: 0;
    }
  }
}

@media (min-width: $smaller-desktop-width) {
  .book-list__item {
    width: 33.33%;

    &:nth-child(2n+3) {
      clear: none;
    }

    &:nth-child(3n+4) {
      clear: both;
    }
  }

  @supports (display: grid) {
    .book-list__item {
      width: auto;
    }
  }
}
