.book {
  padding: 0 6%;

  color: #000000;

  background-color: $body-bg-color;
}

.book__title {
  @include ordinary-heading();
}

.book__link {
  display: inline-block;

  vertical-align: top;
  color: inherit;

  &[href] {
    cursor: pointer;
  }

  &[href]:hover,
  &:focus {
    color: $book-link-hover-color;
    text-shadow: 0 0 1px $book-link-hover-color;
  }

  &[href]:hover {
    @include hover-transition();
  }

  &[href]:active {
    text-decoration: none;
  }
}

.book__info {
  @include paragraph-size();
}

@media (min-width: $tablet-width) {
  .book {
    flex-shrink: 0;
    flex-basis: auto;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    width: 100%;
    padding: 0 1.5em;
  }

  .book__title {
    flex-shrink: 0;
    flex-basis: auto;

    width: 100%;
    margin-top: 0;
    margin-bottom: 1.666em;
  }

  .book__info {
    flex-shrink: 0;
    flex-basis: auto;

    width: 100%;

    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .book__title + .book__info {
    margin-top: auto;
  }
}
