.characters {
  padding: 0 6%;

  @include break-word();
}

.characters__title {
  @include paragraph-size();

  font-weight: 700;
  font-family: "PT Sans", "Verdana", sans-serif;
  color: #333333;

  background-color: $body-bg-color;
}

.characters__list {
  @include reset-list();
}

.characters__item {
  margin: 0;

  font: 400 1em/1.5em "PT Sans", "Verdana", sans-serif;
  text-transform: uppercase;
  color: inherit;

  &:last-child {
    margin-bottom: 1.5em;
  }
}

@media (min-width: $desktop-width) {
  .characters {
    padding: 0 3%;
  }
}
