.characters {
  padding: 0 6%;
}

.characters__title {
  @include paragraph-size();

  font-weight: 700;
  color: #333333;

  background-color: $body-bg-color;
}

.characters__list {
  margin: 0;

  @include reset-list();
}

.characters__item {
  font-size: 1em;
  line-height: 1.5em;

  &:last-child {
    margin-bottom: 1.5em;
  }
}

@media (min-width: $desktop-width) {
  .characters {
    padding: 0 3%;
  }
}
