.copyright {
  padding: 1.25em 6% 0.625em;

  font-weight: 700;
  font-size: 0.889em;
  line-height: 1.375em;
}

@media (min-width: $tablet-width) {
  .copyright {
    width: 45%;
    float: left;
    padding: 1.25em 4%;

    clear: both;
  }
}

@media (min-width: $desktop-width) {
  .copyright {
    padding: 1.25em 3%;
  }
}
