.developed {
  display: block;
  padding: 1.25em 6% 0.625em;

  font-style: normal;
  font-size: 0.889em;
  line-height: 1.375em;
  color: #ffffff;

  background-color: $footer-bg-color;
}

.developed__link {
  color: inherit;
  text-decoration: none;

  border-bottom: 1px solid transparent;

  &[href] {
    border-bottom-color: rgba(255, 255, 255, 0.8);

    cursor: pointer;
  }

  &[href]:hover,
  &:focus {
    color: lighten($menu-bg-color, 40%);

    border-bottom-color: transparent;
  }

  &[href]:hover {
    @include hover-transition();
  }

  &[href]:active {
    color: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .developed {
    width: 45%;
    padding: 1.25em 4%;

    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .developed {
    padding: 1.25em 3%;
  }
}
