@use "variables" as *;
@use "mixins" as *;

.edition-list {
  @include reset-list();
  padding: 1.111em 6%;

  color: #ffffff;

  background-color: $footer-bg-color;
}

.edition-list__item {
  margin-bottom: 0.556em;

  text-align: right;

  &:last-child {
    margin-bottom: 0;
  }
}

.edition-list__link {
  position: relative;

  display: inline-block;
  max-width: 100%;
  padding: 0 0 0 1.111em;

  font-weight: 700;
  font-size: 1em;
  line-height: 2.222em;
  text-align: right;
  text-transform: uppercase;
  text-decoration: none;
  vertical-align: top;
  color: inherit;

  border: 0.056em solid transparent;

  &[href] {
    cursor: pointer;
  }

  &[href]:hover,
  &:focus {
    border-color: rgba(255, 255, 255, 0.3);
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0.333em 0 0.556em 0 rgba(255, 255, 255, 0.5);
  }

  &[href]:hover {
    @include hover-transition();
  }

  &[href]:active {
    border-color: #ffffff;
    background-color: transparent;
    box-shadow: none;
  }

  &[href]:active::before,
  &[href]:active::after {
    content: "";

    position: absolute;
    top: -0.889em;

    width: 0;
    height: 0;

    border-left: 0.278em solid transparent;
    border-right: 0.278em solid transparent;
    border-bottom: 0.833em solid rgba(255, 255, 255, 0.4);
  }

  &[href]:active::before {
    left: 0.167em;
  }

  &[href]:active::after {
    left: 0.722em;
  }

  .edition-list__item--current &:active::before,
  .edition-list__item--current &:active::after {
    display: none;
  }

  .edition-list__item--current & {
    text-decoration: overline;
  }

  &--external[href]:hover,
  &--external:focus,
  &--external[href]:active {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
  }

  &--external[href]:hover,
  &--external:focus {
    color: rgba(255, 255, 255, 0.7);
  }

  &--external[href]:active {
    color: #ffffff;
  }

  &--external[href]:hover::before,
  &--external:focus::before,
  &--external[href]:active::before {
    display: none;
  }

  &--external[href]:hover::after,
  &--external:focus::after,
  &--external[href]:active::after {
    content: "";

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
  }
}

.edition-list__name {
  display: inline-block;
  margin-right: 0.167em;

  vertical-align: top;
}

.edition-list__icon-wrapper {
  display: inline-block;
  padding: 0.084em;

  vertical-align: baseline;

  background-color: #ffffff;
  border-radius: 3%;
}

@include shadow-inset-bottom-left($social-icon-color, ".edition-list__link[href]:hover .edition-list__icon-wrapper", ".edition-list__link:focus .edition-list__icon-wrapper");

.edition-list__link[href]:active .edition-list__icon-wrapper {
  background-color: lighten($menu-bg-color, 10%);
}

@include shadow-around(rgba(255, 255, 255, 0.6), ".edition-list__link[href]:active .edition-list__icon-wrapper");

.edition-list__icon {
  display: block;
  width: 1em;
  height: 1em;

  fill: $social-icon-color;

  .edition-list__link[href]:hover &,
  .edition-list__link:focus & {
    fill: lighten($menu-bg-color, 10%);
  }

  .edition-list__link[href]:active & {
    fill: #ffffff;
  }
}

@media (min-width: $tablet-width) {
  .edition-list {
    width: 30%;
    padding-left: 4%;
    padding-right: 4%;
  }

  .edition-list__link {
    max-width: 9.444em;
  }
}

@media (min-width: $desktop-width) {
  .edition-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;

    width: 66.66%;
    padding-left: 3%;
    padding-right: 3%;

    text-align: right;
  }

  .edition-list__item {
    flex-shrink: 0;
    flex-basis: auto;

    display: inline-block;
    margin-left: 0.556em;

    vertical-align: top;

    &:last-child {
      margin-bottom: 0.556em;
    }
  }

  .edition-list__link {
    display: block;
    max-width: 12.778em;
  }
}
