.item-title {
  @include sm-heading-size();

  font-weight: 400;
  font-family: "Russo One", "Arial", sans-serif;
  text-transform: uppercase;
  color: $title-standard-color;

  @include break-word();

  background-color: $body-bg-color;
}
