.logo {
  display: block;
  padding: 0.714em 6%;

  font: 400 1.556em/1.071em "Russo One", "Impact", "Verdana", sans-serif;
  text-decoration: none;

  &[href] {
    cursor: pointer;
  }

  &[href]:hover {
    @include hover-transition();
  }

  &--main-nav {
    color: $logo-in-nav-color;

    background-color: $body-bg-color;
  }

  &--main-nav[href]:hover,
  &--main-nav:focus {
    color: hsla(250, 100%, 10%, 0.8);
  }

  &--main-nav[href]:active {
    color: $logo-in-nav-color;
    text-shadow: 0 0 1px $logo-in-nav-color;
  }

  &--footer {
    display: none;
  }
}

.logo__inner {
  display: block;
  width: 5em;
}

@supports (width: 7ch) {
  .logo__inner {
    width: 7ch;
  }
}

@media (min-width: $tablet-width) {
  .logo {
    padding: 0.625em 4%;
    padding-right: 2%;

    font-size: 1.778em;
    line-height: 1.125em;

    &--main-nav {
      display: inline-block;

      vertical-align: middle;
      text-align: left;
    }

    &--footer {
      display: block;

      padding-top: 0.938em;

      color: #ffffff;

      background-color: $footer-bg-color;
    }

    &--footer[href]:hover,
    &--footer:focus {
      color: rgba(255, 255, 255, 0.6);
    }

    &--footer[href]:active {
      color: rgba(255, 255, 255, 0.8);
      text-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
    }
  }
}

@media (min-width: $desktop-width) {
  .logo {
    padding-left: 3%;
    padding-right: 3%;
  }
}
