.page-title {
  padding: 0 6%;

  @include md-heading-size();

  font-family: "Russo One", "Impact", "Verdana", sans-serif;
  font-weight: 400;
  color: $ordinary-heading-color;

  background-color: $body-bg-color;

  &--index {
    margin-top: 0;
  }

  &--eighteen-plus {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.page-title__name {
  display: block;
  padding-top: 0.667em;
}

.page-title__number {
  display: block;
  margin-bottom: 0.5em;

  font-size: 1.333em;
  line-height: 1.5em;
  text-transform: uppercase;

  &--eighteen-plus {
    flex-shrink: 0;
    flex-basis: auto;

    width: 63%;
    float: left;
    padding-right: 3%;
  }
}

.page-title__eighteen-plus {
  flex-shrink: 0;
  flex-basis: auto;

  display: block;
  width: 30%;
  margin-left: auto;
  padding-top: 0.166em;
  float: right;

  text-align: right;
}

.page-title__text--eighteen-plus {
  flex-shrink: 0;
  flex-basis: auto;

  display: block;
  width: 100%;

  clear: both;
}

@media (max-width: $mobile-width-only) {
  .page-title--index {
    color: inherit;

    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    &--index {
      @include lg-heading-size();
    }

    &--editions {
      margin-top: 1.334em;
      padding: 0 0.667em;
    }
  }

  .page-title__name {
    font-size: 1.2em;
  }

  .page-title__eighteen-plus {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    padding: 0 3%;

    &--inner-page {
      width: 65%;
    }

    &--editions {
      padding: 0 0.667em;
    }
  }
}
