@use "variables" as *;

.page-footer {
  padding: 1.111em 0;

  color: #ffffff;

  background-color: $footer-bg-color;
}

@supports (display: grid) {
  .page-footer {
    grid-row: 3;
  }
}

.page-footer__edition-list {
  margin: 0;
}

.page-footer__social {
  margin: 0;
  margin-bottom: 0.889em;
}

.page-footer__copyright {
  margin: 0;
}

.page-footer__developed {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding-top: 0.556em;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

    &::after {
      content: "";

      display: table;

      clear: both;
    }
  }

  .page-footer__logo {
    flex-shrink: 0;
    flex-basis: auto;
    order: -1;

    float: left;
    margin-right: auto;
  }

  .page-footer__edition-list {
    flex-shrink: 0;
    flex-basis: auto;

    float: right;
  }

  .page-footer__social {
    flex-shrink: 0;
    flex-basis: auto;
    align-self: flex-end;
    order: -1;

    float: right;
    margin: 0 auto;
    margin-top: 4em;
  }

  .page-footer__copyright {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    float: left;
    clear: both;
  }

  .page-footer__developed {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    float: right;
    margin-left: auto;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    flex-shrink: 0;
  }

  .page-footer__social {
    order: 0;

    margin-top: 0;
  }

  .page-footer__copyright {
    margin-top: 0.625em;
  }

  .page-footer__developed {
    margin-top: 0.625em;
  }
}
