.page-title {
  padding: 0 6%;

  @include md-heading-size();

  font-family: "Russo One", "Impact", "Verdana", sans-serif;
  font-weight: 400;
  color: $ordinary-heading-color;

  background-color: $body-bg-color;

  &--index {
    margin-top: 0;
  }
}

.page-title__name {
  display: block;
  padding-top: 0.667em;
}

.page-title__number {
  display: block;
  margin-bottom: 0.5em;

  font-size: 1.333em;
  line-height: 1.5em;
  text-transform: uppercase;

  &--eighteen-plus {
    width: 63%;
    padding-right: 3%;
  }
}

@media (max-width: $mobile-width-only) {
  .page-title--index {
    color: inherit;

    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .page-title {
    &--index {
      @include lg-heading-size();
    }

    &--editions {
      margin-top: 1.334em;
      padding: 0 0.667em;
    }
  }

  .page-title__name {
    font-size: 1.2em;
  }
}

@media (min-width: $desktop-width) {
  .page-title {
    padding: 0 3%;

    &--inner-page {
      width: 65%;
    }

    &--editions {
      padding: 0 0.667em;
    }
  }

  .page-title__number--eighteen-plus {
    width: auto;
  }
}
