@use "variables" as *;

@supports (display: grid) {
  .page-header {
    grid-row: 1;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    position: relative;
    z-index: 10;

    box-shadow: 0 2px 10px 0 $menu-bg-color;
  }
}

@media (min-width: $desktop-width) {
  .page-header {
    flex-shrink: 0;

    color: #ffffff;

    background-color: $menu-bg-color;
  }
}
