.page-main {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;

  &--eighteen-plus {
    position: relative;
  }
}

.page-main__sticker {
  position: absolute;
  top: 0;
  right: 6%;

  max-width: 30%;
  max-height: 4em;
  padding-top: 0.875em;

  font: 400 2em/1.5em "Russo One", "Impact", "Verdana", sans-serif;
  text-align: right;
  text-transform: none;
  color: $ordinary-heading-color;
  overflow: hidden;
}

.page-main__warning {
  display: block;
  padding: 0 6%;

  @include paragraph-size();

  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .page-main {
    font-size: 1.1em;

    &--index {
      font-size: inherit;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-main {
    align-self: center;

    width: 100%;
    max-width: $desktop-width;
    margin: 0 auto;
  }

  .page-main__sticker {
    left: 75%;
    right: auto;

    text-align: left;
  }

  .page-main__warning {
    padding: 0 3%;
  }
}
